name: RASSED Scan

on:
  workflow_dispatch:
    inputs:
      HOST:
        description: 'Host IP and Port (e.g., 172.20.31.135:30899)'
        required: false
        default: '172.20.31.135:30899'
      ACCESS_TOKEN:
        description: 'Access Token'
        required: true
      action_type:
        description: 'Action Type (scan or scan_and_exploit)'
        required: true
        default: 'scan'
        type: choice
        options:
          - scan_only
          - scan_and_exploit
      mock_mode:
        description: 'Mock Mode (true or false)'
        required: true
        default: 'false'
        type: choice
        options:
          - 'true'
          - 'false'
      tracker_type:
        description: 'Issue Tracker Type (github or jira)'
        required: true
        default: 'github'
        type: choice
        options:
          - github
          - jira
      server_url:
        description: 'Issue Tracker Server URL. Enter https://github.com if tracker_type is github, or https://jira.com if tracker_type is jira.'
        required: true
        default: ''
      username:
        description: 'Issue Tracker Username'
        required: true
      password:
        description: 'Issue Tracker Password'
        required: true
      project_key:
        description: 'Issue Tracker Project Key'
        required: true
      scanner_name:
        description: 'Scanner Name'
        required: true
        default: 'Security Scan - veracode'
      git_url:
        description: 'Git URL'
        required: true
        default: 'https://github.com/mfldosari/verademo'
      git_branch:
        description: 'Git Branch'
        required: true
        default: 'test'
      git_credentials:
        description: 'Git Credentials'
        required: false
      git_username:
        description: 'Git Username'
        required: true
        default: 'mfldosari'
      git_password:
        description: 'Git Password'
        required: false
jobs:
  scan:
    name: "RASSED Scan Execution"
    runs-on: self-hosted
    steps:
      - name: Run RASSED Scan Action
        uses: mfldosari/RASSED@v0.0.2
        with:
          HOST: ${{ github.event.inputs.HOST }}
          ACCESS_TOKEN: ${{ github.event.inputs.ACCESS_TOKEN }}
          action_type: ${{ github.event.inputs.action_type }}
          mock_mode: ${{ github.event.inputs.mock_mode }}
          tracker_type: ${{ github.event.inputs.tracker_type }}
          server_url: ${{ github.event.inputs.server_url }}
          username: ${{ github.event.inputs.username }}
          password: ${{ github.event.inputs.password }}
          project_key: ${{ github.event.inputs.project_key }}
          scanner_name: ${{ github.event.inputs.scanner_name }}
          git_url: ${{ github.event.inputs.git_url }}
          git_branch: ${{ github.event.inputs.git_branch }}
          git_credentials: ${{ github.event.inputs.git_credentials }}
          git_username: ${{ github.event.inputs.git_username }}
          git_password: ${{ github.event.inputs.git_password }}

