name: Build Superset Docker Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: veredemo:dev
          outputs: type=docker

      - name: Save image as tarball
        run: docker save veredemo:dev -o veredemo-dev.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: veredemo-image
          path: veredemo-dev.tar
