# This workflow is triggered manually (workflow_dispatch) and on push to main branch
# It builds a Docker image, pushes to Docker Hub, and echos a deploy step

name: Scan, Build & Deploy 

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main

jobs:
  scan:
     runs-on: self-hosted #ubuntu-latest
     steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run Scan Analysis
        run: |
          echo "scan job would run here"


  build:
    runs-on: self-hosted #ubuntu-latest
    needs: scan
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/verademo:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/verademo:${{ github.sha }}

# d5db94dc3c8ea5534d4624da9357da4fef62c342
  deploy:
    runs-on: self-hosted #ubuntu-latest
    needs: build
    steps:
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.CREDENTIALS_JSON }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ secrets.GCP_SERVICE }} \
            --image=docker.io/${{ secrets.DOCKERHUB_USERNAME }}/verademo:${{ github.sha }} \
            --platform=managed \
            --region=${{ secrets.GCP_REGION }} \
            --allow-unauthenticated \
            --service-account=${{ secrets.GCP_RUN_SA }}
